.single-bike-image {
    width: 100%;
    height: 40vw;
    max-height: 600px;
    object-fit:fill;
}

#rentButton {
  justify-content: center;
}

.rentBtnBox{
  margin-left: 15px;
}

.singleBikeDisplay{
  padding-top: 60px;  
}
